<div class="containerBigCard">

  <div class="bigCardPicture">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi4ALdM8SkDTrPrE3XYsVgbPQRLA6L0Jk64g&s" alt="" height="200px">
  </div>
  <div class="bigCardTitle">
    <h1><a href="#">Novo ovo de codorna</a></h1>
  </div>
  <div class="bigCardDescription">

    <p>    <a href="#">As experiências acumuladas demonstram que o acompanhamento das preferências de consumo estimula a padronização de alternativas às soluções ortodoxas. </a></p>

  </div>
</div>
