<div class="containerSmallCard">
  <div class="contentSmallCardContent">
  <div class="smallCardPicture">
    <img src="https://i.ytimg.com/vi/4J83yjSpDD8/hqdefault.jpg?sqp=-oaymwEmCOADEOgC8quKqQMa8AEB-AG-AoAC8AGKAgwIABABGGUgVihJMA8=&rs=AOn4CLDUHLpqzNEPRCnLc9CaWGC0M5Qhog" alt="" height="200px">
  </div>
  <div class="smallCardTitle">
    <h1><a href="#">Se o pica-pau tivesse chamado a polícia, nada disso teria acontecido.</a></h1>
  </div>
</div>
  <div class="smallCardSeparator">
    <hr/>
  </div>
</div>
