.containerSmallCard{
  width: 600px;
  height: 140px;
}
.contentSmallCardContent{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 6px;
}
.smallCardTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallCardTitle > h1{
  font-size: 12pt;
}
.smallCardTitle > h1 > a{
  text-decoration: none;
}
.smallCardPicture > img{
  width: 200px;
  height: 120px;
  min-width: 200px;
  object-fit: cover;
  margin-right: 20px;
}
.smallCardSeparator{
  margin-bottom: 10px;
}
